body{
    margin: 0;
    font-family: Arial, serif;
    font-size: 20px;
    line-height: 30px;
}

header {
    background-color: #FBC0EF;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

header h1{
    color: black;
    font-family: 'Gaegu', cursive;
    text-shadow: 1px 1px white;
    font-size: 50px;
}


header img{
    border-radius: 60%;
    width: border-box;
    border: 10px double;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main img{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
    text-align: center;
}

.column img{
    height: 300px;
    width: 300px;
}

.container{
    padding: 25px;
}

h2{
    font-size: 35px;
    color: black;
    text-shadow: 2px 2px #FBC0EF;
    font-family: 'Fredericka the Great', cursive;
}

a{
    color: black;
    font-family: 'Fredericka the Great', cursive;
}
a:hover{
    color: #F9D4F2;
}

footer{
    background-color: #FBC0EF;
    text-align: center;
    padding: 50px;
}
footer p{
    margin: 0;
}

p.caption{
    color: gray;
    font-style: italic;
    margin-top: 0;
    text-align: center;
    font-size: small;
}

.button {
    padding: 15px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: #FBC0EF;
    border: black;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    display: inline-block;
}

.button:hover {background-color: #7E1D6B}

.button:active {
    background-color: #FBC0EF;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}